body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(51, 51, 51, .63);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

a {
  text-decoration: underline;
}

.section {
  height: 50px;
}

.section.top-bar {
  background-color: #006eab;
}

.container {
  height: 50px;
  padding-top: 5px;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section-2 {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button {
  display: block;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  border-radius: 10px;
  background-color: #d97b01;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .25);
  text-align: center;
}

.button.top-button {
  float: right;
  background-color: transparent;
  box-shadow: none;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url('../images/header-1.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url('../images/header-1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.section-3.thanks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.container-2.thank-you {
  display: block;
  text-align: center;
}

.heading {
  display: block;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/10542968-0-sectionB.jpg');
  background-position: 0px 50%;
  background-size: cover;
  text-align: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-2 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.paragraph {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.rich-text-block {
  display: block;
  width: 650px;
  color: #fff;
  line-height: 23px;
}

.div-block {
  display: block;
  width: 400px;
  height: 500px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px 25px 25px;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .35);
}

.body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  line-height: 51px;
  text-align: center;
}

.heading-3.ty {
  display: block;
}

.section-5 {
  padding: 50px;
  background-color: rgba(0, 0, 0, .11);
}

.section-6 {
  display: block;
  padding: 50px;
  border-radius: 10px;
}

.div-block-2 {
  position: absolute;
  top: -36px;
  display: inline-block;
  width: 250px;
  padding: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-2 {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}

.row {
  margin-top: 50px;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.heading-5 {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 19px;
}

.row-2 {
  margin-bottom: 50px;
}

.section-7 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-block {
  text-align: center;
}

.heading-6 {
  font-family: Merriweather, serif;
  color: #3898ec;
  text-align: center;
}

.link {
  color: #3898ec;
  text-decoration: none;
}

.section-8 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #006eab;
}

.text-block-2 {
  color: #fff;
  font-size: 12px;
  text-align: right;
}

.field-label {
  display: none;
}

.field-label-2 {
  display: none;
}

.textarea {
  min-height: 150px;
}

.heading-7 {
  padding-bottom: 15px;
  color: #006eab;
  text-align: center;
}

.paragraph-3 {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 767px) {
  .image {
    max-width: 70%;
  }
  .button.top-button {
    float: none;
  }
  .section-3 {
    height: auto;
  }
  .container-2 {
    display: block;
    padding: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .container-2.thank-you {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .heading {
    font-size: 20px;
  }
  .rich-text-block {
    width: 400px;
  }
  .heading-3 {
    text-align: center;
  }
  .div-block-2 {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
  }
  .text-block-2 {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .image {
    max-width: 50%;
  }
  .section-3 {
    display: block;
    width: 100%;
  }
  .container-2 {
    display: block;
    overflow: visible;
    padding-top: 53px;
    padding-bottom: 53px;
  }
  .heading {
    font-size: 16px;
    line-height: 23px;
  }
  .section-4 {
    height: auto;
  }
  .container-3 {
    display: block;
    padding: 15px 11px;
  }
  .rich-text-block {
    width: auto;
    padding: 0px;
  }
  .div-block {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 10px;
  }
  .body {
    font-size: 14px;
  }
  .heading-3 {
    width: 100%;
    font-size: 20px;
    line-height: 31px;
  }
  .section-5 {
    padding: 15px;
  }
  .section-6 {
    padding: 15px;
  }
  .section-7 {
    padding: 23px 15px;
  }
  .link {
    font-size: 21px;
    line-height: 20px;
  }
  .heading-7 {
    font-size: 20px;
  }
  .blurb {
    padding-bottom: 30px;
  }
}

