@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');


.af-view .af-class-cover {
  width               : 100%;
  min-width           : 1200px;
  height              : 100%;
  min-height          : 628px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
.af-view a {
  text-decoration     : none;
}
.af-view div {
  -webkit-text-size-adjust: none;
}
.af-view .af-class-an-animation-enter {
  opacity             : 0;
  transform           : translate(25px, 0);
  display             : block;
  -webkit-animation   : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1.20000004768s;
  -moz-animation-delay: 1.20000004768s;
  -o-animation-delay  : 1.20000004768s;
  animation-delay     : 1.20000004768s;
}
@-webkit-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.af-view .af-class-an-animation-enter1 {
  opacity             : 0;
  transform           : translate(25px, 0);
  display             : block;
  -webkit-animation   : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1.39999997616s;
  -moz-animation-delay: 1.39999997616s;
  -o-animation-delay  : 1.39999997616s;
  animation-delay     : 1.39999997616s;
}
@-webkit-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.af-view .af-class-cover .af-class-header {
  background          : rgba(255, 255, 255, 0.0);
  top                 : -78px;
  height              : 872px;
  width               : 2578px;
  position            : absolute;
  margin              : 0;
  left                : -689px;
}
.af-view .af-class-cover .af-class-header .af-class-cover-bg {
  background          : rgba(63, 63, 63, 1.0);
  top                 : 32px;
  height              : 720px;
  width               : 2578px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-cover .af-class-header .af-class-cover-image {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 872px;
  width               : 1308px;
  position            : absolute;
  margin              : 0;
  left                : 636px;
}
.af-view .af-class-cover .af-class-header .af-class-hello-box {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 112px;
  height              : 560px;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 1268px;
}
.af-view .af-class-cover .af-class-header .af-class-hello-box .af-class-background {
  background          : rgba(255, 255, 255, 0.7);
  top                 : 0px;
  height              : 560px;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-cover .af-class-header .af-class-hello-box .af-class-corner {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 24px;
  height              : 60px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 516px;
}
.af-view .af-class-cover .af-class-header .af-class-hello-box .af-class-jenny-doe {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 232px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  font-family         : "Arvo", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 96.0px;
  color               : rgba(255, 49, 166, 1.0);
  text-align          : left;
  line-height         : 124.0px;
}
.af-view .af-class-cover .af-class-header .af-class-hello-box .af-class-i-m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  font-family         : "Arvo", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 96.0px;
  color               : rgba(36, 36, 36, 1.0);
  text-align          : left;
  line-height         : 119.0px;
}
.af-view .af-class-cover .af-class-portfolio-template {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 553px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  font-family         : "Arvo", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 49.0px;
}
.af-view .af-class-cover .af-class-bitmap {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 538px;
  height              : 62px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
}
/* .anima-animate-appear prefix for appear animations */
.af-view .anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.af-view .anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.af-view .anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}