@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');


.af-view .af-class-cow {
  width               : 100%;
  min-width           : 750px;
  height              : 100%;
  min-height          : 1334px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
.af-view a {
  text-decoration     : none;
}
.af-view div {
  -webkit-text-size-adjust: none;
}
.af-view .af-class-cow .af-class-x-mlid1987 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 148px;
  height              : 502px;
  width               : 491px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2793 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 130px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2792 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 130px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2791 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 93px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2790 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 93px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 304px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2789 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 142px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2788 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 142px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 298px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2787 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 112px;
  height              : 137px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2786 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 112px;
  height              : 127px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2785 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 106px;
  height              : 149px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid992 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 112px;
  height              : 137px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 370px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid991 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 112px;
  height              : 127px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 370px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid865 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 106px;
  height              : 149px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 365px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2781 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 471px;
  height              : 37px;
  width               : 275px;
  position            : absolute;
  margin              : 0;
  left                : 108px;
  opacity             : 0.15;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2780 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 65px;
  height              : 273px;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2779 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 65px;
  height              : 149px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2778 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 59px;
  height              : 284px;
  width               : 307px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2777 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 225px;
  height              : 225px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2776 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 224px;
  height              : 130px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2775 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 219px;
  height              : 236px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2774 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 324px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2773 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 324px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 292px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2772 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 160px;
  height              : 43px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 299px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2771 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 160px;
  height              : 43px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2770 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 201px;
  height              : 24px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 346px;
}
.af-view .af-class-cow .af-class-x-mlid1987 .af-class-x-mlid2769 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 201px;
  height              : 24px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 108px;
}
.af-view .af-class-cow .af-class-content {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 736px;
  height              : 1160px;
  width               : 650px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
}
.af-view .af-class-cow .af-class-content .af-class-titre {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 178px;
  width               : 650px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-cow .af-class-content .af-class-titre .af-class-subtitle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 148px;
  height              : 22px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.af-view .af-class-cow .af-class-content .af-class-titre .af-class-title {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 103px;
  width               : 576px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.af-view .af-class-cow .af-class-content .af-class-lorem-ipsum-dolor-si {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 228px;
  height              : 932px;
  width               : 645px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-cow .af-class-icon-close {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 62px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 654px;
}
/* .anima-animate-appear prefix for appear animations */
.af-view .anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.af-view .anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.af-view .anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}