@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');


.af-view .af-class-drink {
  width               : 100%;
  min-width           : 750px;
  height              : 100%;
  min-height          : 1334px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(21, 21, 21, 1.0);
}
.af-view a {
  text-decoration     : none;
}
.af-view div {
  -webkit-text-size-adjust: none;
}
.af-view .af-class-drink .af-class-content {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 744px;
  height              : 1152px;
  width               : 645px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
}
.af-view .af-class-drink .af-class-content .af-class-titre {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 162px;
  width               : 577px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.af-view .af-class-drink .af-class-content .af-class-titre .af-class-subtitle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 140px;
  height              : 22px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-drink .af-class-content .af-class-titre .af-class-title {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 103px;
  width               : 576px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.af-view .af-class-drink .af-class-content .af-class-lorem-ipsum-dolor-si {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 220px;
  height              : 932px;
  width               : 645px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-drink .af-class-icon-close {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 62px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 654px;
}
.af-view .af-class-drink .af-class-x-mlid1219 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 120px;
  height              : 552px;
  width               : 432px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1253 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 516px;
  height              : 36px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  opacity             : 0.15;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 542px;
  width               : 432px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1213 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 285px;
  height              : 257px;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : 269px;
  width               : 432px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1208 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 269px;
  width               : 432px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1208 .af-class-x-mlid1212 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 254px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1208 .af-class-x-mlid1211 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 217px;
  width               : 325px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1208 .af-class-x-mlid1210 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 97px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1208 .af-class-x-mlid1209 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 266px;
  width               : 426px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1203 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 96px;
  height              : 132px;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1203 .af-class-x-mlid1207 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 128px;
  width               : 277px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1203 .af-class-x-mlid1206 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 113px;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1203 .af-class-x-mlid1205 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 44px;
  width               : 274px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1202 .af-class-x-mlid1203 .af-class-x-mlid1204 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 44px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1190 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 264px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
}
.af-view .af-class-drink .af-class-x-mlid1219 .af-class-x-mlid1163 .af-class-x-mlid1190 .af-class-x-mlid1201 {
  background          : rgba(255, 98, 66, 1.0);
  top                 : 22px;
  height              : 63px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  border-radius       : 31px;
  -ms-transform       : rotate(-55.9571418762deg); /* IE 9 */
  -webkit-transform   : rotate(-55.9571418762deg); /* Chrome, Safari, Opera */
  transform           : rotate(-55.9571418762deg);
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1200 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 39px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1199 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 73px;
  height              : 57px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1198 {
  background          : rgba(70, 176, 0, 1.0);
  top                 : 107px;
  height              : 85px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  border-radius       : 31px;
  -ms-transform       : rotate(-55.9571418762deg); /* IE 9 */
  -webkit-transform   : rotate(-55.9571418762deg); /* Chrome, Safari, Opera */
  transform           : rotate(-55.9571418762deg);
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1197 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 114px;
  height              : 41px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1196 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 101px;
  height              : 97px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  -ms-transform       : rotate(-55.9571418762deg); /* IE 9 */
  -webkit-transform   : rotate(-55.9571418762deg); /* Chrome, Safari, Opera */
  transform           : rotate(-55.9571418762deg);
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1195 {
  background          : rgba(70, 176, 0, 1.0);
  top                 : 160px;
  height              : 85px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  border-radius       : 32px;
  -ms-transform       : rotate(-55.9571418762deg); /* IE 9 */
  -webkit-transform   : rotate(-55.9571418762deg); /* Chrome, Safari, Opera */
  transform           : rotate(-55.9571418762deg);
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1194 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 167px;
  height              : 42px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1193 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 154px;
  height              : 97px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(-55.9571418762deg); /* IE 9 */
  -webkit-transform   : rotate(-55.9571418762deg); /* Chrome, Safari, Opera */
  transform           : rotate(-55.9571418762deg);
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1192 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 222px;
  height              : 39px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1190 .x-mlid1191 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 75px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  -ms-transform       : rotate(-55.9571418762deg); /* IE 9 */
  -webkit-transform   : rotate(-55.9571418762deg); /* Chrome, Safari, Opera */
  transform           : rotate(-55.9571418762deg);
}
.drink .x-mlid1219 .x-mlid1163 .x-mlid1165 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 111px;
  height              : 61px;
  width               : 426px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
/* .anima-animate-appear prefix for appear animations */
.af-view .anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.af-view .anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.af-view .anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}