@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');


.af-view .af-class-menu-overlay {
  width               : 100%;
  min-width           : 320px;
  height              : 100%;
  min-height          : 600px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(241, 59, 132, 0.9);
}
.af-view a {
  text-decoration     : none;
}
.af-view div {
  -webkit-text-size-adjust: none;
}
.af-view .af-class-an-animation-enter2 {
  opacity             : 0;
  transform           : rotate(60deg);
  display             : block;
  -webkit-animation   : an-animation-enter2-frames 0.300000011921s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter2-frames 0.300000011921s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter2-frames 0.300000011921s ease-in-out 1 normal forwards;
  animation           : an-animation-enter2-frames 0.300000011921s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.20000000298s;
  -moz-animation-delay: 0.20000000298s;
  -o-animation-delay  : 0.20000000298s;
  animation-delay     : 0.20000000298s;
}
@-webkit-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: rotate(60deg);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: rotate(0);
    }
}
@-moz-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: rotate(60deg);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: rotate(0);
    }
}
@-o-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: rotate(60deg);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: rotate(0);
    }
}
@keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: rotate(60deg);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: rotate(0);
    }
}
.af-view .af-class-an-animation-enter3 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.af-view .af-class-menu-overlay .af-class-menu-x {
  background          : rgba(255, 255, 255, 0.0);
  right               : 20px;
  top                 : 20px;
  height              : 26px;
  width               : 26px;
  position            : fixed;
  margin              : 0;
}
.af-view .af-class-menu-overlay .af-class-stacked-group {
  background          : rgba(255, 255, 255, 0.0);
  width               : 515px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.af-view .af-class-menu-overlay .af-class-stacked-group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 168px;
  align-items         : center;
  height              : 264px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.af-view .af-class-menu-overlay .af-class-stacked-group .af-class-home {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  font-family         : "Arvo", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 37.0px;
  text-decoration     : underline;
}
.af-view .af-class-menu-overlay .af-class-stacked-group .af-class-sample-project {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 76px;
  height              : auto;
  width               : 389px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  font-family         : "Arvo", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 37.0px;
  text-decoration     : underline;
}
.af-view .af-class-menu-overlay .af-class-stacked-group .af-class-download-template {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 152px;
  height              : auto;
  width               : 515px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Arvo", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 37.0px;
  text-decoration     : underline;
}
.af-view .af-class-menu-overlay .af-class-stacked-group .af-class-medium-article {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 228px;
  height              : auto;
  width               : 415px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  font-family         : "Arvo", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 37.0px;
  text-decoration     : underline;
}
/* .anima-animate-appear prefix for appear animations */
.af-view .anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.af-view .anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.af-view .anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}